## 1. Print the first 5 positive integers in ascending order with one number 1 in each line.



for i in  range(6):
    print(i)

In [2]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [3]:
word1=input()
word2=input()
print(word1+' '+word2)

asas
asas
asas asas

In [4]:
condn=False
while condn==False:
    reg_num=input('Please enter registration number of your vehicle: ')
    if reg_num[0:1].isalpha() and reg_num[0:1].isupper() and reg_num[2:3].isnumeric() and reg_num[4:5].isalpha() and reg_num[4:5].isupper() and reg_num[6:10].isnumeric():
        condn=True
    else:
        condn=False
print(f"{reg_num[0:2]}")

Please enter registration number of your vehicle: asas
Please enter registration number of your vehicle: MH12HM1234
MH

In [7]:
num=input('Enter a 5-digit number: ')
sum_num=0+int(num[0:2])

Enter a 5-digit number: 12345

In [8]:
12345//10

1234

In [ ]:
print(input(),input(),input(),input(),input()+'.')

In [ ]:
seq_num=[1,2,3,4,5,6,7,8,9]
prod=1
for i in seq_num:
    prod=i*prod
prod

In [ ]:
x=int(input())
y=int(input())
b=x**y
len(str(b))

In [ ]:
string=input('Enter a string: ')
if len(string)%2==0:
    print(f"{string[2:len(string)-3]}")
else:
    continue

In [4]:
string=input('Enter a string: ')
length=len(string)

if length%2==0:
    if string[-1]=='.':
        
        string=string[0:length-2]
        print(string[1:length-1])
    else:
        string=string+'.'
        print(string[1:length-1])
else:
    pass

Enter a string: him.
i

In [ ]:
string='hiamsans.'
list1=string.split()
list1[0][len(string)-1]

In [ ]:
name='hiam'
list1=name.split()
list2=list1[0].split()
list2

In [16]:
'asas'+'asaas'

'asasasaas'

In [15]:
'asasa'+'.'

'asasa.'

In [7]:
s='himasnhu'
s[:-1]

'himasnh'

In [10]:
s = input()
n = len(s)
if n%2 == 0:
    if s[n-1]=='.':
        s=s[:-1]
    else:
        s=s+'.'
n = int((len(s)-1)/2)
print(s[n-1: n+2])

hima
ima

13. Accept three positive integers as input and check if they form the 
sides of a right triangle. Print YES if they form one, and NO is they do 
not. The input will have three lines, with one integer on each line. 
The output should be a single line containing one of these two 
strings: YES or NO.

In [13]:
a=int(input())
b=int(input())
c=int(input())
d=a**2+b**2
e=b**2+c**2
f=a**2+c**2
if (d==c**2) or (e==a**2) or (f==b**2):
    print('Yes')
else:
    print('No')

2
3
4
No

In [18]:
l1=['b','c','a','e','f','a']
l1.sort()
l1

['a', 'a', 'b', 'c', 'e', 'f']

In [17]:
l1

15. Accept a string as input and print the vowels present in the string in 
alphabetical order. If the string doesn’t contain any vowels, then 
print the string none as output. Each vowel that appears in the input 
string – irrespective of its case should appear just once in lower case 
in the output

In [3]:
s=input()
v=['a','e','i','o','u']
l1=[]
for i in s:
    if i in v:
        l1.append(i)
l1.sort()
for v in l1:
    print(v)

apple
a
e

In [5]:
#Alternate Solution
input_string = input().lower()
vowels = ""
if "a" in input_string:
 vowels += "a"
if "e" in input_string:
 vowels += "e"
if "i" in input_string:
 vowels += "i"
if "o" in input_string:
 vowels += "o"
if "u" in input_string:
 vowels += "u"
# check if vowels is non-empty
if vowels != "":
 print(vowels)
else:
 print('none')

aae
ae

16.You are given the date of birth of two persons, not necessarily from 
the same family. Your task is to find the younger of the two. If both 
of them share the same date of birth, then the younger of the two is 
assumed to be that person whose name comes first in alphabetical 
order.
The input will have four lines. The first two lines correspond to the 
first person, while the last two lines correspond to the second 
person. For each person, the first line corresponds to the name and 
the second line corresponds to the date of birth in “DD-MM-YYYY” 
format. Your output should be the name of the younger of the two.

In [16]:
n1 = input()
d1 = input()
n2 = input()
d2 = input()
if d1==d2 :
     if n1<n2 :
         print(n1)
     else :
         print(n2)
elif d1[-4:] != d2[-4:] :
     if int(d1[-4:]) < int(d2[-4:]):
         print(n2)
     else :
         print(n1)
elif d1[3:5] != d2[3:5]:
     if int(d1[3:5]) < int(d2[3:5]):
         print(n2)
     else :
         print(n1)
else :
     if int(d1[0:2]) < int(d2[0:2]):
         print(n2)
     else :
         print(n1)

Himasnhu
07-11-2001
Abdul
07-11-2001
Abdul

14. EvenOdd is a tech startup. Each employee at the startup is given an employee id which is a unique 
positive integer. On one warm Sunday evening, five employees of the company come together for a 
meeting and sit at a circular table:
The employees follow a strange convention. They will continue the meeting only if the following 
condition is satisfied.
The sum of the employee-ids of every pair of adjacent employees at the table must be an even 
number.
They are so lazy that they won’t move around to satisfy the above condition, If the current seating 
plan doesn’t satisfy the condition, the meeting will be cancelled. You are given the employee-id of all 
five employees. Your task is to decide if the meeting happened or not.
The input will be five lined, each containing an integer. The ith line will have the employee-id of Ei. 
The output will be a single line containing one of these two strings: YES or NO

In [2]:
e1=int(input())
e2=int(input())
e3=int(input())
e4=int(input())
e5=int(input())
s1=e1+e2
s2=e1+e5
s3=e2+e3
s4=e3+e4
s5=e4+e5
if s1%2==0 and s2%2==0 and s3%2==0 and s4%2==0 and s5%2==0:
    print('Yes')
else:
    print('No')

2
4
6
8
10
Yes

17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a 
string to be a valid password, it must satisfy all the conditions given below:
(1) It should have at least 8 and at most 32 characters
(2) It should start with an uppercase or lowercase letter
(3) It should not have any of these characters: / \ = ' "
(4) It should not have spaces
It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 
4). Output True if the string forms a valid password and False otherwise

In [24]:
string=input()
if (len(string)>=8) and (len(string)<33) and string[0].isalpha() and "/" not in string and '\"'  not in string and '=' not in string and "'" not in string and '"' not in string and string.isalnum():
    print(True)
else:
    print(False)

NHASH98988 7
False

19.Accept a positive integer n as input, where n is greater than 1. 
Print PRIME ifnis a prime number and NOTPRIME otherwise.

In [13]:
n=int(input())
prime=True
if n==1:
    prime=False
else:
    for i in range(2,n):
        if n%2==0:
            prime=False
if prime==True:
    print(f"{n} is a prime number.")
else:
    print(f"{n} is not a prime number ")

116
116 is not a prime number

20. Accept two strings as input and form a new string by removing all 
characters from the second string which are present in the first string. 
Print this new string as output. You can assume that all input strings 
will be in lower case.

In [18]:
a=input()
b=input()
for c in a:
    if c in b:
        b=b.replace(c,'')
print(b)

devesh
devashish
ai

In [21]:
a='121212'
a.count('1')

3

21.Accept a phone number as input. A valid phone number should satisfy 
the following constraints.
(1) The number should start with one of these digits: 6, 7, 8, 9
(2) The number should be exactly 10 digits long.
(3) No digit should appear more than 7 times in the number.
(4) No digit should appear more than 5 times in a row in the 
number.
If the fourth condition is not very clear, then consider this example: 
the number 9888888765 is invalid because the digit 8 appears more 
than 5 times in a row. Print the string valid if the phone number is 
valid. If not, print the string invalid.

In [20]:
n=input()
a=False
if len(n)==10 and int(n[0])>5 and n.isdigit():
    for i in range(10):
        if n.count(n[i])<8:
            a=True
            if n[i]*6 in n:
                a=False
                break
        else:
            break
if a:
    print('valid')
else:
    print('invalid')

#The isdigit() method returns True if all the characters are digits, otherwise False.
# The count() method returns the number of elements with the specified value.

9881057133
valid

In [19]:
phn_num=input()
isvalid=True

if int(phn_num[0])>5 and len(phn_num)==10:
    for i in phn_num:
         if phn_num.count(i)<8:
                isvalid=True
         else:
            break
                if phn[0:5].count(i)<4 and phn_num[1:6].count(i)<4 and phn[2:7].count(i)<4 and phn_num[3:8].count(i)<4 and phn_num[4:9].count(i)<4 and phn_num[5:10].count(i)<4 and phn_num[6:].count(i)<4:
                    isvalid=True
                else:
                    break
else:
    break
                
                    
    

    

    
    
    
        
            
if isvalid==True:
    print(f"Phone number:{phn_num} is valid!")
else:
    print(f"Phone number:{phn_num} is invalid!")

IndentationError: unexpected indent (246914815.py, line 10)

In [18]:
p=input()
valid=False
for i in p:
    if p[0:5].count(i)>2:
        valid=True
if valid:
    print('Yes')
else:
    print('No')

asas
No

In [9]:
p='12122'
p[0]*6

'111111'

In [6]:
p='121212121'
p[3:7].count('1')

2

22. In the first line of input, accept a sequence of space-separated words. In the second line of 
input, accept a single word. If this word is not present in the sequence, print NO. If this word 
is present in the sequence, then print YES and in the next line of the output, print the number 
of times the word appears in the sequence.

In [ ]:
a=input()
b=input()
if b in a:
    c=a.count(b)
print(c)

23. Write a function named factorial that accepts an integer n as argument. It should return 
the factorial of n if n is a positive integer. It should return -1 if n is a negative integer, and it 
should return 1 if n is zero.

In [69]:
def myfunc(n):
    fact=1
    i=1
    if n<0:
        return -1
    if n==0:
        return 1
    
    
    if n>0:
        
        
        while i<=n:
            fact=fact*i
            i=i+1
    return fact

In [71]:
print(myfunc(5))

120

In [43]:
n=6
fact=1
i=1
while i<=n:
    fact=fact*i
    i=i+1
fact

720

24. 
The range of a list of numbers is the difference between the maximum and minimum values in the list
Write a function named get_range that accepts a non-empty list of real numbers as argument. It 
should return the range of the list.
(1) Avoid using built-in function such as max and min.
(2) You do not have to accept input from the user or print output to the console. You just have to write 
the function definition.

In [31]:
def get_range(l):
    
    max=0
    for i in l:
        if i>max:
            max=i
        
    l.sort()
    min=l[0]
    range=max-min
    return range

In [32]:
print(get_range([45,6,7,12,99,22,120]))

114

## Alternate Solution:

In [34]:
def get_range(l):
    
    max=0
    for i in l:
        if i>max:
            max=i
    min=l[0]
    for i in l:
        if i<min:
            min=i
    range=max-min
    return range

In [35]:
print(get_range([12,13,14,15,1,6]))

14

28. You are given a string and two non-negative integers as input. The 
two integers specify the start and end indices of a substring in the 
given string. Create a new string by replicating the substring a 
minimum number of times so that the resulting string is longer than 
the input string. The input parameters are the string, start index of 
the substring and the end index of substring (endpoints inclusive) 
each on a different line.

29. A simple algorithm has to be designed to find out whether a student 
belongs to the Data Science branch or not. The input will be a 
student's roll number, which is of the form BR18B0000. 
Here, BR represents the branch code, 18 represents the year of 
joining, B represents the education level and 0000 represents the 
specific identification given to the student of that batch. The branch 
code for Data Science is DS. Print True if the student belongs to 
Data Science branch and False otherwise.

In [37]:
s = input()
if s[0]=='D' and s[1]=='S':
    print("True")
else:
    print("False")

DS43C0000
True

30. remove items from a list while iterating but without creating a different copy of a list.
Remove numbers greater than 50
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected Output: [10, 20, 30, 40, 50]

In [42]:
num_list=[1,2,3,1,4,2,5,75,67,78,90,75,9]
list(filter(lambda num:num<=50,num_list))

[1, 2, 3, 1, 4, 2, 5, 9]

31.  Display all duplicate items from a list
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
Expected Output: [20, 60, 30]

In [46]:
sample_list =  [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
l1=[]
for i in sample_list:
    if sample_list.count(i)>1:
        l1.append(i)
list(set(l1))

[20, 60, 30]

32. A class teacher has decided to split her entire class into four groups, namely Sapphire, Peridot, Ruby, 
and Emerald for sports competitions. For dividing the students into these four groups, she has 
followed the pattern given below:
Sapphire - 1, 5, 9, 13, 17, 21, ...
Peridot - 2, 6, 10, 14, 18, 22, ...
Ruby - 3, 7, 11, 15, 19, 23, ...
Emerald - 4, 8, 12, 16, 20, 24, ...
All the students are represented by their roll numbers. Based on the above pattern, given the roll 
number as input, print the group the student belongs to. Note that the roll number can be any 
positive integer and not necessarily less than 25.

In [5]:
def stud(n):
    Sapphire=[1]
    i=1
    while i<50:
        if i%2!=0:
            Sapphire.append(i+4)
            i=i+4
            
    Peridot=[2]
    i=2
    while i<50:
        if i%2==0:
            Peridot.append(i+4)
            i=i+4
            
    Ruby=[3]
    i=3
    while i<50:
        Ruby.append(i+4)
        i=i+4
    
    
    Emerald=[4]
    i=4
    while i<50:
        Peridot.append(i+4)
        i=i+4
    
    if n in Sapphire:
        
        print(f"The student with Roll:{n} is in Sapphire!")
   
    elif n in Peridot:
        
        print(f"The student with Roll:{n} is in Peridot!")
    
    elif n in Ruby:
        
        print(f"The student with Roll:{n} is in Ruby!")
        
    else:
        
        print(f"The student with Roll:{n} is in Emerald!")

In [7]:
print(stud(9))

The student with Roll:9 is in Sapphire!
None

32. In a portal login website, you are asked to write a function get_password_strength to decide 
the strength of a password. The strength is decided based on the total score of the password, Use 
following conditions:
1) If password has length greater than 7 then score increases by one point.
2) If password has at least one upper case and one lower case alphabets score increases by one point.
3) If password has at least one number and no consecutive numbers like 12 or 234 then score 
increases by one point.
4) If password has at least one special character (any character other than numbers and alphabets) then 
score increases by one point.
5) If password contains username, then it is invalid password.
If the password has score of four points, three points, two points, or one point then print Very 
Strong, Strong, Moderate, or Weak respectively. If the password is invalid, then 
print PASSWORD SHOULD NOT CONTAIN USERNAME and If the score is zero, then print Use a 
different password.The arguments to the function are username and password which are 
already defined

In [ ]:
def get_password_strength(p,u):
    stg=0
    l1=[]
    l2=[]
    l3=[]
    l4=[]
    valid=False
    consecutive_nums=False
    splc=['!',"@",'#','%','$','&','*']
    
    if len(p)>7:
        stg=stg+1
        
    for i in p:
        if i.isupper():
            l1.append(i)
    for i in p:
        if i.islower():
            l2.append(i)
            
    if len(l1)>0:
        stg=stg+1
    if len(l2)>0:
        stg=stg+1
        
    for i in p:
        if i.isdigit():
            l3.append(i)
    if len(l3)>0:
        stg=stg+1
    
    for i in range(len(p)-1):
        if  p[i:i+2].isdigit():
            consecutive_nums=True
            break
    
    if consecutive_nums:
        stg=stg-1
        
    
   
    for i in range(len(p)):
        if p[i] in splc:
            l4.append(p[i])
        else:
            continue
    if len(l4)>0:
        stg=stg+1
    
            
    if u in p:
        valid=False
    else:
        valid=True
        
    if valid:
        print(stg)
    else:
        print('Password should not contain username!')
    
    if valid:
        if stg>=4:
            print('Your password is very strong!')
        elif stg==3:
            print('Password is strong!')
        elif stg==2:
            print('Password is moderate!')
        elif stg==1:
            print('Weak!')
        else:
            print('Use a different password!')

In [11]:
s='12Edfg'
l1=[]
for i in s:
    if type(i)==str:
        if i.isupper():
            l1.append(i)
l1

['E']

In [14]:
print(get_password_strength('himaaimanshuH21','hima'))

Password should not username!
['2', '1']
None

In [65]:
s='1a'
s[0].isdigit()

True

In [35]:
s='121212'
cons=False
for i in range(len(s)-1):
    if s[i:i+2].isdigit():
        consec=True
print(cons)

False

In [30]:
s='s12122ss1221'
s[6:8].isalpha()

True

33.Program to Get Data Items From a List Appearing Odd Number of Times

In [7]:
l1=[1,1,2,2,1,4,5,5,5,7]
l2=[]
for i in l1:
    if l1.count(i)%2!=0:
        l2.append(i)
set(l2)

{1, 4, 5, 7}

## Use of Two decorators

In [9]:
def sss(function):
    def wrapper():
        func=function()
        string_lowercase=func.lower()
        return string_lowercase
    return wrapper

def splitter_dec(function):
    def wrapper():
        func=function()
        string_split=func.split()
        return string_split
    return wrapper

In [10]:
@splitter_dec
@sss
def xyz():
    return 'Helo Wolrd'

In [11]:
print(xyz())

['helo', 'wolrd']

In [38]:
l1='Asas'.split()
l1

['Asas']

38. Create an outer function that will accept two strings, x and y. (x= 'Emma' and y = 'Kelly'.
Create an inner function inside an outer function that will concatenate x and y.
At last, an outer function will join the word 'developer' to it.

In [39]:
def outer(x,y):
    def inner(x,y):
        return x+y
    z=inner(x,y)+'developer'
    return z

In [40]:
print(outer('asas','asas'))

asasasasdeveloper

39. Modify the element of a nested list inside the following list
Change the element 35 to 3500
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

In [42]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
list1[1][2][2][1]=3500
list1

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

40.Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters from a given sequence.
Use map() function.

In [16]:
def conversion(word):
    
    for i in word:
        if word.count(i)>1:
            
            word=word.replace(i,'')
    print(word.swapcase())

In [28]:
print(map(conversion,'himma'))

<map object at 0x00000203B7E6E730>